.modal-container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  padding: 20px;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-btn {
  background-color: #d77a61;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  width: auto;
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 24px;
  cursor: pointer;
  color: #333;
}

.modal-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
  color: #ffffff;
  background-color: #ffffff;
}

.modal-content h2 {
  color: black;
  font-weight: 300;
}
.container-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
}

.modal-button {
  background-color: #d77a61;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-left: 3%;
  min-width: 50px;
}
.modal-button:hover {
  background-color: #223843;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  min-width: 50px;
}

/* Pantallas medianas (tabletas) */
@media (max-width: 768px) {
  .modal-container {
    padding: 15px;
  }
  .modal-content {
    font-size: 0.9rem;
  }
}

/* Pantallas pequeñas (móviles) */
@media (max-width: 480px) {
  .modal-container {
    padding: 10px;
  }
  .modal-content {
    font-size: 0.8rem;
  }
  .modal-button {
    min-width: 40px;
  }
}
