.modal-container {
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 1);
  padding: 20px;

}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(
    0,
    0,
    0,
    0.6
  ); /* Ligeramente más oscuro para mayor enfoque en el modal */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-btn {
  background-color: #d77a61;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  width: auto;
}

.modal-close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  background: none;
  font-size: 24px; /* Hacer el icono un poco más grande */
  cursor: pointer;
  color: #333; /* Color oscuro para visibilidad */
}

.modal-content {
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  flex-direction: column; /* Alinea los elementos en una columna */
  font-size: 1rem; /* Ajustar tamaño de fuente si es necesario */
  color: #ffffff; /* Color oscuro para facilidad de lectura */
  background-color: #ffffff;
  /* Otros estilos según necesidades */
}

.modal-content h2 {
  color: black; /* Color claro para facilidad de lectura */
  font-weight: 300;
  
}
.container-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 10px;
}

.modal-button {
  background-color: #d77a61;
  color: white;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  margin-left: 3%;
  min-width: 50px;
  
}
.modal-button:hover {
  background-color: #223843;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  min-width: 50px;
}


/* Pantallas medianas (tabletas) */
@media (max-width: 768px) {
  .modal-container {
    /* Ajustes para tabletas */
    padding: 15px;
  }
  .modal-content {
    font-size: 0.9rem;
  }
}

/* Pantallas pequeñas (móviles) */
@media (max-width: 480px) {
  .modal-container {
    /* Ajustes para móviles */
    padding: 10px;
  }
  .modal-content {
    font-size: 0.8rem;
  }
  .modal-button {
    min-width: 40px;
  }
}




