.writer-container {
  width: 60%;
  background-color: #343a40;
  margin-left: auto;
  margin-right: auto;
}

.writer-tittle {
  margin-top: 10%;
  margin-bottom: 3%;
  color: #eff1f3;
  font-weight: bold;
  text-align: center;
}

.writer-subTittle {
  margin-bottom: 3%;
  color: #eff1f3;
  font-style: oblique;
  text-align: center;
}

/* Media Query para pantallas menores a 768px */
@media (max-width: 768px) {
  .writer-container {
    width: 80%;
  }

  .writer-title {
    font-size: 18px;
  }
}

/* Media Query para pantallas aún más pequeñas (hasta 480px) */
@media (max-width: 480px) {
  .writer-container {
    width: 95%;
    padding: 10px;
  }

  .writer-tittle {
    font-size: 25px;
    margin-top: 23%;
  }
}
