.feed-container {
  background-color: #343a40;
  margin-top: 3%;
  margin-left: auto;
  flex: 1;
  margin-right: auto;
  max-width: 40%;
  color: #252422;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.avatar-image-feed {
  margin-top: 3%;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

.image-feed {
  text-align: center;
}

.feed-title {
  color: #EFF1F3;
  font-size: 40px;
  margin-bottom: 10px;
  text-align: center;
  font-weight: bold;
}

.feed-description {
  font-size: 18px;
  color: #EFF1F3;
  font-style: oblique;
  line-height: 1.6;
  text-align: center;
}

.publication-card {
  background-color: #fff;
  max-width: 100%;
  margin: 15px auto;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.publication-title,
.publication-title-feed {
  color: #343a40;
  font-weight: bold;
  font-size: 30px;
}

.publication-story {
  font-size: 18px;
  color: #555;
}

.user-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 10px;
}

/* Media Query para pantallas menores a 768px */
@media (max-width: 768px) {
  .feed-container {
    max-width: 75%; /* Ajuste del ancho máximo */
    padding: 15px;
  }

  .feed-title,
  .publication-title-feed {
    font-size: 25px; /* Tamaño de fuente ajustado */
  }

  .feed-description,
  .publication-story {
    font-size: 16px; /* Tamaño de fuente ajustado */
  }

  .avatar-image-feed {
    width: 120px;
    height: 120px;
  }

  .user-avatar {
    width: 30px;
    height: 30px;
  }
}

/* Media Query para pantallas aún más pequeñas (hasta 480px) */
@media (max-width: 480px) {
  .feed-container {
    max-width: 100%; /* Ocupar todo el ancho */
    padding: 10px;
  }

  .feed-title,
  .publication-title-feed {
    font-size: 20px;
  }

  .feed-description,
  .publication-story {
    font-size: 14px;
  }

  .avatar-image-feed {
    margin-top: 15%;
    width: 100px;
    height: 100px;
  }

  .publication-card {
    max-width: 100%; /* Ocupar todo el ancho */
    padding: 10px;
  }
}
