.profile-container {
  width: 60%;
  margin: auto;
  padding: 20px;
  background-color: #343a40;
}

.profile-image {
  width: 300px;
  margin-bottom: 2%;
  height: 300px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}
.container-file-image {
  display: flex;
  justify-content: center;
}
.profile-tittle {
  margin-top: 10%;
  color: #eff1f3;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}
.userProfile-back {
  width: 100%;
}
.userProfile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 90%; /* Aumentar el ancho */
}

.card-tittle {
  color: #343a40;
  font-size: 2rem;
  margin-bottom: 10px;
}

.following-list {
  margin-bottom: 2%;
}

.following-container {
  width: 56%;
  margin: auto;
}

.following-data-container{
display: flex;
justify-content: space-between;
align-items: center;
width: auto;
}

.avatar-image-following {
  width: 50px; /* Tamaño más pequeño para los avatares */
  height: 50px;
  border-radius: 50%;
}

.form-control-file {
  margin-top: 2%;
  border-radius: 10px;
  color: white;
}

.form-control-file p {
  color: white;
}

.password-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-control-profile {
  border-radius: 10px;
 width: auto; /* Ajustar el ancho máximo del input */
  margin: auto; /* Centrar el input en el contenedor */
  text-align: center;
  margin-bottom: 2%;
  border-style: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.container-input {
  display: flex;
  justify-content: center;
}

/* Media Queries */

/* Pantallas medianas (tabletas, pantallas pequeñas de escritorio) */
@media (max-width: 768px) {
  .profile-container {
    width: 80%; /* Aumentar el ancho para pantallas medianas */
  }

  .profile-image {
    width: 200px; /* Ajustar el tamaño de la imagen */
    height: 200px;
  }

  .profile-tittle {
    font-size: 30px; /* Ajustar el tamaño de la fuente */
    margin-top: 5%;
  }
  .form-control.mb-3 {
    max-width: 70%; /* Aumentar el ancho en pantallas medianas */
  }

  .following-container {
    width: 100%; /* Ajustar el ancho para una mejor visualización */
  }

  .avatar-image-following {
    width: 40px; /* Reducir el tamaño de los avatares */
    height: 40px;
  }
}

/* Pantallas pequeñas (móviles) */
@media (max-width: 480px) {
  .profile-container {
    width: auto; /* Ajustar para pantallas móviles */
  }
.title-image-container{
  display: flex;
  flex-direction: column;
}
  .profile-image {
  width: 300px;
  margin-bottom: 2%;
  height: 300px;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  object-fit: cover;
  }

  .form-control.mb-3 {
    max-width: 90%; /* Aumentar el ancho en pantallas móviles */
  }
  .profile-tittle {
    font-size: 25px; /* Tamaño de fuente más pequeño para pantallas móviles */
    margin-top: 15%; /* Ajustar el margen superior */
  }

  .userProfile-container {
    width: 100%;
  }

  .following-container {
    width: 88%; /* Ajustar el ancho para una mejor visualización en móviles */
  }
  .card-body {
    display: flex;
    flex-direction: column;
    align-items: baseline;
  }

  .card-body h5 {
    margin-top: auto;
  }
}
