/* Estilo base para contenedores principales */
.publication-container {
  width: 50%; /* Ajusta este valor según lo que consideres apropiado para tu diseño */
  margin: auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #343a40;
  color: #252422;
}

.publication-container-stories {
  width: 100%; /* Ajusta este valor según lo que consideres apropiado para tu diseño */
  padding: 20px;
  margin-bottom: 2%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

/* Estilos para los títulos de las secciones */
.publication-title {
  color: #eff1f3;
  font-weight: bold;
  margin-top: 7%;
  text-align: center;
}

.publication-description {
  color: #0f0f0f;
}

.btn-principal-div {
  max-width: none;
  display: flex;
  justify-content: center;
}
.btn-dlete-edit {
  display: flex;
  justify-content: center;
  margin-top: 1%;
}

.div-btn-principal {
  display: flex;
  justify-content: center;
  margin-top: 1%;
}

.btn-principal {
  background-color: #d77a61;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn-principal:hover {
  background-color: #223843;
}

/* Estilos para las alertas */
.alert {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
}

.alert-success {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
  margin-top: 2%;
  text-align: center;
}

.alert-danger {
  color: #721c24;
  background-color: #f8d7da;
  border-color: #f5c6cb;
  margin-top: 2%;
  text-align: center;
}

/* Estilos para las tarjetas de publicación */
.card-title {
  color: #343a40;
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.card-text {
  color: #555;
  margin-bottom: 10px;
}

/* Estilos para botones secundarios en las tarjetas */
.card-botones {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}

.card-body {
  background-color: #ffffff;
  border-radius: 10px;
  
}

.publication-no-Stories {
  display: block;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2%;
}

/* Media Query para pantallas menores a 768px */
@media (max-width: 768px) {
  .publication-container,
  .publication-container-stories {
    width: 80%; /* Ajuste del ancho para pantallas más pequeñas */
    padding: 15px;
  }

  .publication-title {
    font-size: 20px; /* Tamaño de fuente más pequeño para mejor legibilidad */
  }

  .card-title {
    font-size: 1.2rem; /* Tamaño de fuente ajustado */
  }
}

/* Media Query para pantallas aún más pequeñas (hasta 480px) */
@media (max-width: 480px) {
  .publication-container,
  .publication-container-stories {
    width: 95%; /* Ocupar casi todo el ancho en pantallas pequeñas */
    padding: 10px; /* Reducción del padding */
  }

  .publication-title,
  .card-title {
    margin-top: 25%;
    font-size: 18px; /* Tamaño de fuente reducido */
  }

  .card-text {
    font-size: 14px; /* Tamaño de fuente reducido para textos */
  }
}