.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  max-width: 50%;
  margin: auto;
}

.login-description,
.login-title {
  color: #eff1f3;
}

a.navbar-brand {
  margin-left: 5px;
}

.login-image,
.login-form {
  flex: 1;
}

.login-image {
  text-align: left;
  max-width: 35%;
}

.login-form {
  text-align: right;
  max-width: 50%;
}

.imgLogin {
  max-width: 100%;
  height: auto;
}



/* Dispositivos Móviles (hasta 576px) */
@media (max-width: 576px) {
  .login-container {
    flex-direction: column;
    max-width: 100%;
  }

  
  .login-image{
    display: none;
  }

  .login-form {
    max-width: 100%;
    text-align: center;
  }
}

/* Dispositivos Móviles a Tabletas (hasta 768px) */
@media (max-width: 768px) {
  .login-container {
    flex-direction: column;
    max-width: 80%;
  }
}

/* Tabletas (hasta 992px) */
@media (max-width: 992px) {
  .login-container {
    max-width: 70%;
  }
}

/* Escritorios Pequeños (hasta 1200px) */
@media (max-width: 1200px) {
  .login-container {
    max-width: 60%;
  }
}

/* Escritorios Grandes (más de 1200px) */
@media (min-width: 1200px) {
  .login-container {
    max-width: 50%;
  }
}
