.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  margin: auto;
}

.register-title {
  color: #eff1f3;
  font-size: 25px;
}

.register-description {
  color: #eff1f3;
  margin-top: 5px;
}

/* Dispositivos M칩viles (hasta 576px) */
@media (max-width: 576px) {
  .register-title {
    font-size: 20px; 
  }

  .register-container {
    padding: 20px; 
  }
}

/* Dispositivos M칩viles a Tabletas (hasta 768px) */
@media (max-width: 768px) {
  .register-title {
    font-size: 22px; 
  }

  .register-container {
    padding: 30px;
  }
}

/* Tabletas (hasta 992px) */
@media (max-width: 992px) {
  .register-container {
    padding: 40px;
  }
}

/* Escritorios Peque침os (hasta 1200px) */
@media (max-width: 1200px) {
  .register-container {
    padding: 50px;
  }
}

/* Escritorios Grandes (m치s de 1200px) */
@media (min-width: 1200px) {
  .register-container {
    padding: 60px;
  }
}
