.container-404 {
  display: flex; /* Alinea los elementos en una fila */
  flex-direction: column; /* Alinea los elementos en una columna */
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  height: 100vh; /* Ajustado para ocupar todo el alto */
  width: 100%; /* Ajustado para ocupar todo el ancho */
  margin: auto; /* Centrar en la página */
}

.tittle-404 {
  color: #eff1f3; /* Color del texto oscuro para contraste */
  font-size: 25px; /* Tamaño de fuente */
  font-weight: bold; /* Negrita */
}

.link-404 {
  text-decoration: none; /* Sin subrayado en enlaces */
  color: white; /* Color de los enlaces */
  text-align: center;
  width: 10%;
}
