.footer {
  background-color: #ffffff; /* Color de fondo claro */
  color: #252422; /* Color del texto oscuro para contraste */
  padding: 20px 0; /* Espaciado interno */
  text-align: center; /* Alineación del texto */
  font-size: 0.9rem; /* Tamaño de fuente */
  position: relative; /* O absolute, según tu layout */
}

.footer a {
  color: #fca311; /* Color de los enlaces */
  text-decoration: none; /* Sin subrayado en enlaces */
}

.footer a:hover {
  text-decoration: underline; /* Subrayado al pasar el mouse */
}

.footer svg {
  fill: currentColor; /* El color del ícono igual al texto */
  margin-right: 8px; /* Espacio a la derecha del ícono */
  vertical-align: middle; /* Alineación vertical con el texto */
}

.footer .social-icons {
  margin-bottom: 10px; /* Espacio debajo de los íconos sociales */
}

.footer .footer-text {
  margin-top: 10px; /* Espacio encima del texto del pie de página */
}

.icons {
  display: flex;
  justify-content: center;
}

@media (max-width: 480px) {
  .footer {
    margin-top: 15px;
  }
}
