.profile-container {
  width: 60%;
  margin: auto;
  padding: 20px;
  background-color: #343a40;
}

.profile-image {
  width: 300px;
  height: 300px;
  margin-bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  display: block; /* Asegura que la imagen esté centrada */
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

.container-file-image {
  display: flex;
  justify-content: center;
}

.profile-tittle {
  color: #eff1f3;
  font-size: 40px;
  text-align: center;
  font-weight: bold;
  margin-top: 10%;
}

.userProfile-back {
  width: 100%;
}

.userProfile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  width: 90%;
}

.card-body {
  display: flex; /* Establece los elementos en línea dentro de cada card-body */
  flex-direction: column; /* Alinea los elementos verticalmente dentro de cada card-body */
  align-items: center; /* Centra los elementos verticalmente dentro de cada card-body */
  margin-right: 10px; /* Añade espacio entre los elementos */
}

.card-tittle {
  color: #343a40;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 10px;
}

.following-list {
  display: flex; /* Establece los elementos en línea */
  flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas más pequeñas */
  justify-content: center; /* Centra los elementos */
  margin-bottom: 2%;
}

.following-container {
  width: 56%;
  margin: auto;
}

.following-data-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.avatar-image-following {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.form-control-file {
  margin-top: 2%;
  border-radius: 10px;
  color: white;
}

.form-control-file p {
  color: white;
}

.password-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-control-profile {
  width: auto;
  margin: auto;
  text-align: center;
  margin-bottom: 2%;
  border-style: none;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
}

.container-input {
  display: flex;
  justify-content: center;
}

/* Tus estilos existentes */

/* Media Queries */

/* Para tabletas y pantallas pequeñas de escritorio */
@media (max-width: 768px) {
  .profile-container,
  .userProfile-container,
  .following-container {
    width: 80%; /* Ajuste para pantallas medianas */
  }

  .profile-image {
    width: 200px; /* Ajuste del tamaño de la imagen */
    height: 200px;
  }

  .profile-tittle {
    font-size: 30px; /* Tamaño de fuente ajustado */
  }

  /* Ajustes adicionales para otros elementos si es necesario */
}

/* Para móviles */
@media (max-width: 480px) {
  .profile-container,
  .userProfile-container,
  .following-container {
    width: 100%; /* Ajuste para pantallas más pequeñas */
  }

  .profile-image {
    width: 150px; /* Reducción del tamaño de la imagen */
    height: 150px;
  }

  .profile-tittle {
    font-size: 25px; /* Tamaño de fuente más pequeño para mejor legibilidad */
  }

  /* Ajustes adicionales para otros elementos si es necesario */
}
