.contact-container {
  display: flex; /* Alinea los elementos en una fila */
  justify-content: center; /* Centra verticalmente */
  align-items: center; /* Centra horizontalmente */
  height: 100vh; /* Ajustado para ocupar todo el alto */
  max-width: 50%; /* Ajustado para ocupar todo el ancho */
  margin: auto; /* Centrar en la página */
}
.contact-title {
  color: #eff1f3; /* Color del texto oscuro para contraste */
  font-weight: bold;
}
.contact-description {
  color: #eff1f3; /* Color del texto oscuro para contraste */
}

/* Media Queries */

/* Pantallas medianas (tabletas, pantallas pequeñas de escritorio) */
@media (max-width: 768px) {
  .contact-container {
    max-width: 75%; /* Aumenta el ancho para pantallas medianas */
  }

  .contact-title, .contact-description {
    font-size: medium; /* Ajusta el tamaño de la fuente si es necesario */
  }
}

/* Pantallas pequeñas (móviles) */
@media (max-width: 480px) {
  .contact-container {
    max-width: 95%; /* Aumenta el ancho para pantallas móviles */
    flex-direction: column; /* Cambia la disposición a columna */
  }

  .contact-title {
    font-size: large; /* Aumenta el tamaño de la fuente para mejor legibilidad */
  }

  .contact-description {
    font-size: small; /* Ajusta el tamaño de la fuente para la descripción */
  }
}